In [1]:
!python -m pip install pandas
!python -m pip install sodapy

import pandas as pd
from sodapy import Socrata

#hidden password

client = Socrata("data.lacity.org",
                  'MoDVq30UjhgP7iin1vD1JSSED',
                  username="ahmadrishi@gmail.com",
                  password="******")


results = client.get("2nrs-mtv8", order="date_rptd desc", limit=100000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

df = results_df

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sodapy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from sodapy) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28.1->sodapy) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28.1->sodapy) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28.1->sodapy) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.28.1->sodapy) (2022.12.7)

<h1> Transform Data </h1>

In [2]:
df = df[(df['vict_sex'] == 'F') | (df['vict_sex'] == 'M')]

In [3]:
df = df[df['vict_descent'].notna()]
df = df[df['vict_descent'] != 'X']
df = df[df['vict_descent'] != '-']

In [4]:
df = df.astype({'vict_age':'int'})
df = df[df['vict_age'] > 0]

In [5]:
columns_to_drop = ['mocodes', 'rpt_dist_no', 'part_1_2', 
                   'crm_cd_1', 'crm_cd_2', 'crm_cd_3', 
                   'crm_cd_4', 'cross_street']
crimes = df.drop(columns_to_drop, axis=1)
crimes.columns

Index(['dr_no', 'date_rptd', 'date_occ', 'time_occ', 'area', 'area_name',
       'crm_cd', 'crm_cd_desc', 'vict_age', 'vict_sex', 'vict_descent',
       'premis_cd', 'premis_desc', 'status', 'status_desc', 'location', 'lat',
       'lon', 'weapon_used_cd', 'weapon_desc'],
      dtype='object')

In [6]:
crimes['time_occ'] = pd.to_datetime(crimes['time_occ'].astype(str).str.zfill(4), format='%H%M').dt.time
crimes['date_occ'] = pd.to_datetime(crimes['date_occ']).dt.date
crimes['date_rptd'] = pd.to_datetime(crimes['date_rptd']).dt.date

In [7]:
crimes.loc[crimes['vict_descent'] == 'A', 'vict_descent'] = 'ASIAN'
crimes.loc[crimes['vict_descent'] == 'B', 'vict_descent'] = 'BLACK'
crimes.loc[crimes['vict_descent'] == 'C', 'vict_descent'] = 'CHINESE'
crimes.loc[crimes['vict_descent'] == 'D', 'vict_descent'] = 'CAMBODIAN'
crimes.loc[crimes['vict_descent'] == 'F', 'vict_descent'] = 'FILIPINO'
crimes.loc[crimes['vict_descent'] == 'G', 'vict_descent'] = 'GUAMANIAN'
crimes.loc[crimes['vict_descent'] == 'H', 'vict_descent'] = 'Hispanic/Latin/Mexican'
crimes.loc[crimes['vict_descent'] == 'I', 'vict_descent'] = 'American Indian/Alaskan Native'
crimes.loc[crimes['vict_descent'] == 'J', 'vict_descent'] = 'JAPANESE'
crimes.loc[crimes['vict_descent'] == 'K', 'vict_descent'] = 'KOREAN'
crimes.loc[crimes['vict_descent'] == 'L', 'vict_descent'] = 'LAOTIAN'
crimes.loc[crimes['vict_descent'] == 'O', 'vict_descent'] = 'OTHER'
crimes.loc[crimes['vict_descent'] == 'P', 'vict_descent'] = 'PACIFIC ISLANDER'
crimes.loc[crimes['vict_descent'] == 'S', 'vict_descent'] = 'SAMOAN'
crimes.loc[crimes['vict_descent'] == 'U', 'vict_descent'] = 'HAWAIIAN'
crimes.loc[crimes['vict_descent'] == 'V', 'vict_descent'] = 'VIETNAMESE'
crimes.loc[crimes['vict_descent'] == 'W', 'vict_descent'] = 'WHITE'
crimes.loc[crimes['vict_descent'] == 'Z', 'vict_descent'] = 'ASIAN INDIAN'

In [8]:
crimes = crimes.drop_duplicates(subset=['dr_no'])

In [9]:
crimes['weapon_used_cd'].fillna(0, inplace=True)
crimes['weapon_desc'].fillna('NO WEAPON', inplace=True)

In [10]:
crimes = crimes[crimes['premis_cd'].notna()]
crimes = crimes[crimes['premis_desc'].notna()]
crimes = crimes[crimes['status'].notna()]
crimes = crimes[crimes['area'].notna()]

In [11]:
crimes['location'] = df['location'].replace(r'\s+', ' ', regex=True)

In [12]:
crimes['location']

0          10900 BLUFFSIDE DR
1        2700 S BARRINGTON AV
2               8500 W 3RD ST
3               SAN MARINO ST
5               4400 W 8TH ST
                 ...
99995       1100 S FAIRFAX AV
99996           800 S HILL ST
99997       12900 CORCORAN ST
99998         11000 BURNET AV
99999           7300 ARIEL AV
Name: location, Length: 74201, dtype: object

In [13]:
sorted = crimes.sort_values(['date_rptd','date_occ', 'time_occ'])

In [14]:
sorted.isna().sum()

dr_no             0
date_rptd         0
date_occ          0
time_occ          0
area              0
area_name         0
crm_cd            0
crm_cd_desc       0
vict_age          0
vict_sex          0
vict_descent      0
premis_cd         0
premis_desc       0
status            0
status_desc       0
location          0
lat               0
lon               0
weapon_used_cd    0
weapon_desc       0
dtype: int64

In [15]:
sorted.to_csv('Last_ETL.csv', index=False)

<h1> Load Data Into DB </h1>

In [18]:
!pip install SQLAlchemy
from sqlalchemy import create_engine
dbEngine = create_engine("mysql+mysqldb://Ahmad:****@localhost:3306/crimes")

Requirement already satisfied: SQLAlchemy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.4.45)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy) (2.0.1)

In [19]:
#Area
area = sorted[['area', 'area_name']]
area = area.drop_duplicates(subset=['area'])
area = area.rename(columns={'area': 'areaID', 'area_name' : 'areaName'})
area.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_AREA (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\1564963534.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  area.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [20]:
#LOCATION
location = sorted[['area', 'location', 'lat', 'lon']]
location = location.drop_duplicates(subset=['location'])
location = location.rename(columns={'area': 'areaID', 'location': 'location', 'lat' : 'LAT', 'lon' : 'LON'})
location.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_LOCATION (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\2394771149.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  location.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [21]:
#PREMIS
premis = df[['premis_cd', 'premis_desc']]
premis = premis.drop_duplicates(subset=['premis_cd'])
premis = premis.rename(columns={'premis_cd': 'premisID', 'premis_desc': 'premisDesc'})
premis.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_PREMIS (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\1931510430.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  premis.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [22]:
#CRIMES
crimes = df[['crm_cd', 'crm_cd_desc']]
crimes = crimes.drop_duplicates(subset=['crm_cd'])
crimes = crimes.rename(columns={'crm_cd': 'crimeID', 'crm_cd_desc': 'crimeDesc'})
crimes.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_CRIMES (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\3870843521.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  crimes.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [23]:
#Status
status = df[['status', 'status_desc']]
status = status.drop_duplicates(subset=['status'])
status = status.rename(columns={'status': 'statusID', 'status_desc': 'statusDesc'})
status.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_STATUS (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\2354399435.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  status.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [24]:
#TIME
time = df[['dr_no', 'date_rptd', 'date_occ', 'time_occ']]
time = time.drop_duplicates(subset=['dr_no'])
time = time.rename(columns={'dr_no': 'caseNumber', 'date_rptd': 'DateReport', 'date_occ': 'DateOcc', 'time_occ': 'TimeOcc'})
time.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_TIME (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\860262749.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  time.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [25]:
#Victums
victums = df[['dr_no', 'vict_age', 'vict_descent', 'vict_sex']]
victums = victums.drop_duplicates(subset=['dr_no'])
victums = victums.rename(columns={'dr_no': 'caseNumber', 'vict_age': 'VictAge', 'vict_descent': 'VictDescent', 'vict_sex': 'VictSex'})
victums.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_VICTUMS (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\2924163761.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  victums.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [26]:
#WEAPONS
weapons = df[['weapon_used_cd', 'weapon_desc']]
weapons = weapons.drop_duplicates(subset=['weapon_used_cd'])
weapons = weapons.rename(columns={'weapon_used_cd' : 'weaponID', 'weapon_desc': 'weaponDesc'})
weapons.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO DIM_WEAPONS (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\2481324993.py:5: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  weapons.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)

In [27]:
#FACTS
facts = df[['area', 'crm_cd', 'dr_no', 'premis_cd', 'status', 'weapon_used_cd']]
facts = facts.rename(columns={'area' : 'areaID', 'crm_cd' : 'crimeID', 'dr_no' : 'caseNumber', 'premis_cd': 'premisID', 'weapon_used_cd': 'weaponID', 'status': 'statusID'})
facts.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO FACTS (SELECT * FROM TEMP)'
    cnx.execute(insert_sql)
    delete_sql = 'DROP TABLE TEMP'
    cnx.execute(delete_sql)

C:\Users\User\AppData\Local\Temp\ipykernel_9568\3482427771.py:4: UserWarning: The provided table name 'TEMP' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  facts.to_sql(con = dbEngine, name = 'TEMP', if_exists='append',index=False)